# VS Code Settings
.vscode/

# Node Modules
nba-player-comparer-client/node_modules
nba-player-comparer-ingestion-service/node_modules
/node_modules

# Build files
nba-player-comparer-client/build

# Config files
nba-player-comparer-ingestion-service/.env
.env

# Debug files
debug.log

# ESLint Files
**/.eslintrc.json

# DS_Store
.DS_Store